In [1]:
# import the pandas library with alias pd to work with it
import pandas as pd

1. Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.

In [2]:
# i have downloaded the csv file 'world_alcohol.csv' 
# read the csv file using pd.read_csv(file_path)
df = pd.read_csv('world_alcohol.csv')
print('first 5 rows:')
print(df.head())
print('\nshape: ')
print(df.shape)
print('\ncolumns: ')
print(df.columns)

first 5 rows:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

shape:
(100, 5)

columns:
Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

2. Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset.

In [3]:
df = pd.read_csv('world_alcohol.csv')

# df.iloc[rows, cols] : This property allows us to access the specified rows and cols from the df.
df.iloc[:2, :2]

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas

3. Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset.

In [4]:
df = pd.read_csv('world_alcohol.csv')


# df.iloc[rows, cols] : This property allows us to access the specified rows and cols from the df.
# df.sample(n) : This will select the random n rows from the df.
# df.sample(frac=n) : This will select the n percentage of random rows out of all rows.

print('Random 4 rows: ')
print(df.sample(4))
print('\nRandom 10% rows: ')
print(df.sample(frac=.1))

Random 4 rows:
    Year WHO region      Country Beverage Types  Display Value
50  1985     Europe  Switzerland          Other           0.30
83  1986     Europe      Ukraine          Other            NaN
51  1987     Europe      Finland           Beer           3.88
93  1987     Africa   Madagascar          Other            NaN

Random 10% rows:
    Year             WHO region                           Country  \
12  1985        Western Pacific  Lao People's Democratic Republic
16  1984               Americas                        Costa Rica
5   1987               Americas                         Guatemala
39  1987                 Africa                      Burkina Faso
59  1989  Eastern Mediterranean              Syrian Arab Republic
31  1986        Western Pacific  Micronesia (Federated States of)
53  1984  Eastern Mediterranean                            Kuwait
84  1986        South-East Asia                         Sri Lanka
65  1989  Eastern Mediterranean                           Somalia
63  1985  Eastern Mediterranean                             Libya

   Beverage Types  Display Value
12           Beer           0.00
16           Wine           0.06
5           Other           0.00
39        Spirits           0.01
59          Other           0.00
31           Wine           0.00
53           Beer           0.00
84          Other           0.00
65           Beer           0.00
63          Other           0.00

4. Write a Pandas program to find and drop the missing values from World alcohol consumption dataset.

In [5]:
df = pd.read_csv('world_alcohol.csv')

print('null values: ')
print(df.isna())

# df.dropna() : This method drops all the null values from the df.
print('Dropped all missing values: ')
print(df.dropna())

null values:
     Year  WHO region  Country  Beverage Types  Display Value
0   False       False    False           False          False
1   False       False    False           False          False
2   False       False    False           False          False
3   False       False    False           False          False
4   False       False    False           False          False
..    ...         ...      ...             ...            ...
95  False       False    False           False          False
96  False       False    False           False          False
97  False       False    False           False          False
98  False       False    False           False          False
99  False       False    False           False          False

[100 rows x 5 columns]
Dropped all missing values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

5. Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [6]:
df = pd.read_csv('world_alcohol.csv')

# df[col].drop_duplicates() : This method drops all the duplicates from the specified column from the df.
df['WHO region'].drop_duplicates()

0           Western Pacific
1                  Americas
2                    Africa
13    Eastern Mediterranean
18                   Europe
20          South-East Asia
Name: WHO region, dtype: object

6. Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the world alcohol consumption dataset.

In [7]:
df = pd.read_csv('world_alcohol.csv')

df[(df['Year'] == 1987) | (df['Year'] == 1985)].head(10)

,Year,WHO region,Country,Beverage Types,Display Value
2,1985,Africa,Cte d'Ivoire,Wine,1.62
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
5,1987,Americas,Guatemala,Other,0.00
6,1987,Africa,Mauritius,Wine,0.13
7,1985,Africa,Angola,Spirits,0.39
10,1987,Africa,Botswana,Wine,0.20
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
15,1987,Africa,Guinea-Bissau,Wine,0.07
24,1985,Africa,Comoros,Other,NaN

7. Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset.

In [8]:
df = pd.read_csv('world_alcohol.csv')

df[(df['Year'] == 1985) & (df['WHO region'] == 'Americas')].head()

    Year WHO region                Country Beverage Types  Display Value
35  1985   Americas  Saint Kitts and Nevis        Spirits           2.24

8. Write a Pandas program to filter rows based on row numbers ended with 0, like 0, 10, 20, 30 from world alcohol consumption dataset.

In [9]:
df = pd.read_csv('world_alcohol.csv')

df.iloc[::10]

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
10,1987,Africa,Botswana,Wine,0.20
20,1986,South-East Asia,Myanmar,Wine,0.00
30,1986,Africa,Sierra Leone,Other,4.48
40,1987,Europe,Austria,Spirits,1.90
50,1985,Europe,Switzerland,Other,0.30
60,1987,Eastern Mediterranean,Iran (Islamic Republic of),Other,0.00
70,1986,Africa,Madagascar,Spirits,1.02
80,1985,Africa,Malawi,Other,0.84
90,1989,Africa,Malawi,Wine,0.01

9. Write a Pandas program to find which years have all non-zero values and which years have any non-zero values from world alcohol consumption dataset.

In [10]:
df = pd.read_csv('world_alcohol.csv')

print(df.loc[:, df.all()])
print(df.loc[:, df.any()])

    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types
0            Wine
1           Other
2            Wine
3            Beer
4            Beer
..            ...
95          Other
96           Wine
97           Wine
98           Wine
99           Wine

[100 rows x 4 columns]
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[100 rows x 5 columns]